* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 20%;
}

hr {
  border: 1px solid $lightBlue;
  margin-left: calc(50% - 45px);
  margin-bottom: 20px;
}

h1 {
  font-size: 32px;
  color: #071e33;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  text-align: center;
}

.intro-text {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333333;
}
