.inspire {
  background-image: url("../images/intro-carousel/1.jpg");
  height: 665px;
  padding: 250px;

  h1 {
    font-size: 60px;
  }

  p {
    font-size: 20px;
    padding-bottom: 30px;
  }

  button {
    width: 160px;
    height: 40px;
    background-color: $lightBlue;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    color: white;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      border: 2px solid $lightBlue;
      background-color: $lighterBlue;
      color: $lightBlue;
      font-weight: bold;
      transition: color 0.5s ease;
    }
  }
}
