@mixin column($columns, $margin) {
  width: calc(#{100% / $columns} - #{$margin * ($columns - 1) / $columns});
  margin-right: $margin;

  &:last-child {
    margin-right: 0;
  }
}
@mixin mq($breakpoint) {
  @if ($breakpoint == to1200) {
    @media only screen and (max-width: 1199px) {
      @content;
    }
    @elseif ($breakpoint == from1200) {
      @media only screen and (max-width: 1200px) {
        @content;
      }
    }
    @elseif ($breakpoint == to992) {
      @media only screen and (max-width: 991px) {
        @content;
      }
    }
    @elseif ($breakpoint == from992) {
      @media only screen and (min-width: 992px) {
        @content;
      }
    }
    @elseif ($breakpoint == to768) {
      @media only screen and (max-width: 767px) {
        @content;
      }
    }
    @elseif ($breakpoint == from768) {
      @media only screen and (min-width: 768px) {
        @content;
      }
    }
    @elseif ($breakpoint == to576) {
      @media only screen and (max-width: 575px) {
        @content;
      }
    }
    @elseif ($breakpoint == from576) {
      @media only screen and (min-width: 576px) {
        @content;
      }
    }
  }
}
