.header {
  .contactBar {
    display: flex;
    justify-content: space-between;
    background-color: $darkBlue;
    padding: 10px 20%;

    i {
      color: $lightBlue;
      font-size: 15px;
      &:hover {
        cursor: pointer;
        color: white;
      }
    }

    small {
      color: $gray;
    }

    .contact {
      display: flex;
      .phone {
        i {
          padding-left: 20px;
        }
      }
    }
    .socialMedia {
      i {
        padding-left: 10px;
      }
    }
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-top: 20px;

    h1 {
      margin-top: 0;
      
      font-size: 25px;

      span {
        color: $lightBlue;
      }
    }

    nav {
      display: inline-block;

      a {
        text-decoration: none;
        color: $darkBlue;
        font-size: 13px;
        font-weight: 600;
        padding-left: 25px;

        &:hover {
          color: $lightBlue;
        }
      }

      .active {
        color: $lightBlue;
      }
    }
  }
}
