.ourService {
  padding: 60px 0 0;

  .row {
    display: flex;
    justify-content: space-between;
    text-align: center;

    .column {
      @include column(1, 50px);
      padding: 40px;
      margin-bottom: 40px;
      transition-duration: 0.5s;
      border: 1px solid $border;

      .image {
        display: block;
        width: 100%;
        padding: 15px;

        img {
          width: 120px;
        }
      }

      h3 {
        font-weight: 700;
        font-size: 22px;
        font-family: "Montserrat", sans-serif;
      }

      p {
        font-size: 14px;
        line-height: 24px;
        display: block;
        margin: 0;
        padding-top: 15px;
        // color: $paragraf;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 30px rgba(73, 78, 92, 0.15);
        transform: translateY(-15px);
      }
    }
  }
}
