.testimonials-slider {
  display: flex;
  flex-direction: row;

  .testimonials-item {
    @include column(3, 50px);
    padding: 30px 30px 0;
    margin: 30px 15px;
    text-align: center;

    .text {
      font-style: italic;
      margin: 0 auto 15px auto;
      background-color: #F1F1F1;
      width: 100%;
      border: 1px solid #DCDCDC;
      border-radius: 15px 15px 0 15px;
      padding: 22px 15px;
      font-size: 15px;
      color: #686868;
      font-family: "Open Sans", sans-serif;
    }

    h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0 5px 0;
      color: #111111;
      font-family: "Montserrat", sans-serif;
    }

    .job-title {
      font-size: 14px;
      color: #999999;
      margin: 0;
    }
  }
}
