.welcome {
  margin-top: 50px;

  .wrapper {
    display: flex;
    justify-content: space-between;

    .left {
      margin-right: 50px;

      img {
        height: 350px;
        width: 550px;
      }
    }

    .right {
      text-align: left;

      .bold {
        margin-bottom: 20px;
        font-weight: bold;
      }

      .italic {
        margin-bottom: 20px;
        font-style: italic;
        color: #555555;
      }

      .regular {
        margin-bottom: 20px;
      }

      ul {
        list-style-type: none;

        li {
          margin-bottom: 10px;

          i {
            color: $lightBlue;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
